
[Unit]
Description=dutchradar-feed
Wants=network.target
After=network.target

[Service]
User=dutchradar
RuntimeDirectory=dutchradar-feed
ExecStart=/usr/local/share/dutchradar/dutchradar-feed.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=dutchradar-feed
Nice=-1

[Install]
WantedBy=default.target
